.country__img{
    padding-top:0.3rem;
    max-width: 2rem;
    max-height: 2rem;
}

table{
    width: 100%;
}
.countries__table2 {
    margin-top: 2rem;
    height: 100%;
    right: 1px;
}

.countries__table2 thead > tr {
    display: flex;
    justify-content:space-evenly;    
}


.countries__table2 tbody  {
    display: flex;
    flex-direction: column; 
    text-align: center;   
}

.countries__table2 tbody tr{
    display: flex;
    justify-content:space-evenly;
    margin-top: 1rem;
}



.countries__table2  tbody > tr > td{
    width:33%;

}

.countries__table2 td{
    padding: 0.5rem;
}